<section>
  <h2><%= event.name %></h2>
  <h3><%= `${event.date} ${event.time}` %></h3>
  <%- include('rsvp') %>
   <% if(event.user_id === request){ %>
    <%- include('updateEvent') %>
    <%- include('deleteEvent') %>
  <% } %>

</section>